@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}
ul, ol{
    list-style: none;
}

body{
    font-family: 'Roboto', sans-serif;
}

body::-webkit-scrollbar{
    width: 8px;
}
body::-webkit-scrollbar-thumb{
    background-color: #ccc;
    border-radius: 5px;
}

.header-nav{
    width: 100%;
    height: 61px;
}


/* NAV BAR */

.nav-bar{
    position: fixed;
    width: 100%;
    height: 60px;
    z-index: 100;
    border-bottom: 1px solid #2e29332c;
    background-color: #fff;
}

.nav-bar a{
    text-decoration: none;
}
.nav-bar a img{
    width: auto;
    height: 60px;
}

/* ASIDE */

.main-doc{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: calc(100vh - 61px);
    overflow: scroll;
    scrollbar-width: none;
    z-index: 100;

}
.main-doc::-webkit-scrollbar{
    width: 0;
}

.nav-aside{
    display: block;
    width: 23.5%;
}

.nav-mobile{
    display: none;
}
.nav-desktop{
    position: fixed;
    display: block;
    width: 23.5%;
    height: calc(100% - 61px);
	overflow-y: scroll;
    padding: 1.7rem;
    scrollbar-width: thin;
    z-index: 100;
}

.nav-desktop::-webkit-scrollbar{
    width: 6px;
}
.nav-desktop::-webkit-scrollbar-thumb{
    background-color: #ccc;
    border-radius: 5px;
}

.nav-desktop ul {
    list-style: none;
}

.nav-desktop ul li a{
    text-decoration: none;
    color: #000;
}
.side-bar {
    width: 100%;
}
.nav-link-section{
    margin-bottom: 1.7rem;
}
.nav-link-section-footer{
    margin-bottom: 0 ;
}

.nav-link-section .title{
    font-weight: 600;
    font-size: 1.5rem;
}
.nav-link-section .title:hover{
    color: #FF9800;
    cursor: pointer;
}

.item{
    color: #333333;
    margin: 8px 0;
    font-size: 1.1rem;
    font-weight: 300;
}
.item .subtitle:hover{
    color: #FF9800;
    cursor: pointer;
}

.main-section-container{
    width: calc(76.5% - 170px);
    margin: 65px 85px;
    font-size: 1.2rem;
    font-weight: 300;
}

.main-section h2{
    margin: 20px 0; 
}
.main-section #introduccion{
    margin: 0;
    margin-bottom: 20px;
}

.main-section p{
    margin-bottom: 20px;
    line-height: 30px;
}

.main-section h3{
    margin: 20px 0
}

.main-section a{
    color: #000;
    line-height: 50px;
}
.main-section a:hover{
    color: #FF9800;
    cursor: pointer;
}

.main-section ul{
    list-style: disc;
    padding: 20px;
}
.code{
    margin-bottom: 20px;
}
.main-section h4{
    margin: 20px 0;
    font-weight: 400;
}
.main-section table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
.main-section table td,
.main-section  table th {
    border: 1px solid #ddd;
    padding: 15px;
}
  
.main-section table tr:nth-child(even){
    background-color: #f2f2f2;
}

.main-section table tr:hover {
    background-color: #ddd;
}

.main-section table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #333333;
    color: #FFF;
}
.main-section pre {
    white-space: pre-wrap;
    box-sizing: border-box;
}

.main-footer{
    display: flex;
    -webkit-box-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    align-items: center;
    border-top: 1px solid rgba(46, 41, 51, 0.08);
    padding: 0px 1.5rem;
}

.language-text{
    background-color: #ccc;
    padding: 5px;
}


footer{
    width: 100%;
    display: flex;
}

